@model MyFootballMvc.ViewModels.MyTeamCoachesViewModel
@{
    ViewData["Title"] = "Coaches";
    Layout = "~/Views/Shared/_MyTeamLayout.cshtml";
}

<div class="banner bcolor-1">
    <h2 class="banner-header">Coaches</h2>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<div class="main-container container">
    @if (Model.MyCoaches != null && Model.MyCoaches.Count != 0)
    {
        <table class="table table-striped" id="js-my-coaches-table">
            <thead>
            <tr>
                <th scope="col" width="55px">Manager Avatar</th>
                <th scope="col">Name</th>
                <th scope="col">Birthdate</th>
                <th scope="col">License</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var coach in Model.MyCoaches)
                {
                    string name = coach.User.FirstName + " " + coach.User.LastName;
                    <tr>
                        <td>
                            <img src="@coach.Avatar" class="avatar-my-profile"/>
                        </td>
                        <th>@Html.ActionLink(@name, "Id", "Manager", new {Id = coach.Id})</th>
                        <th>@coach.User.Birthdate</th>
                        <th>@coach.License</th>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<script>
    $(document).ready(function () {
        $("#js-my-coaches-table").DataTable();
    });
</script>
