@model MyFootballMvc.ViewModels.MyTeamIndexViewModel
@using MyFootballMvc.ViewModels
@{
  ViewData["Title"] = "Index";
  Layout = "~/Views/Shared/_MyTeamLayout.cshtml";
}

<div class="page-my-team main-container container">

    <h2>Index</h2>

</div>
