@model MyFootballMvc.ViewModels.MyTeamIndexViewModel
@{
  ViewData["Title"] = "Index";
  Layout = "~/Views/Shared/_MyTeamLayout.cshtml";
}

<div class="banner bcolor-1">
    <h2 class="banner-header">My Team</h2>
</div>

<div class="page-my-team main-container container">


</div>
