@model MyFootballMvc.ViewModels.CupViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CupLayout.cshtml";
}

<div class="banner bcolor-4">
    <h2 class="banner-header">@Model.Tournament.Name</h2>
</div>


