@model MyFootballMvc.ViewModels.PitchFinderViewModel
@{
    //Layout = null;
    ViewData["Title"] = "Home Page";
}

<div class="page-pitch-finder main-container container">
    <h2>Pitch Finder</h2>
</div>