@model MyFootballMvc.ViewModels.ManagerViewModel

@{
    ViewData["Title"] = "Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner bcolor-6">
    <h2 class="banner-header">@Model.Manager.User.FirstName @Model.Manager.User.LastName</h2>
</div>

<div class="page-club-by-id main-container container">

    <div class="main-content">
        <p>Name:@Html.LabelFor(r => r.Manager.User.FirstName) @Model.Manager.User.LastName</p>
        <p>Club:</p>
        @if (Model.Manager.TeamId != null && Model.Manager.TeamId != "")
        {
        <p>@Model.Teams.Find(i => i.Id == Model.Manager.TeamId).Name</p>
        }
        else
        {
        <p>None</p>
        }
    </div>
</div>
