@model MyFootballMvc.ViewModels.MyRequestsViewModel
@{
    ViewData["Title"] = "MyRequests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-container container">
    <h2>MyRequests</h2>
</div>
