
@{
    ViewData["Title"] = "RequestDetails";
    Layout = "~/Views/Shared/_MyTeamLayout.cshtml";
}

<div class="banner bcolor-1">
    <h2 class="banner-header">RequestDetails</h2>
</div>

<div class="main-container container">

</div>


