@model MyFootballMvc.ViewModels.TestViewModel
@{
    //Layout = null;
    ViewData["Title"] = "Home Page";
}

<div class="page-test main-container container-fluid">
    <h2>Test area</h2>
    <div class="row">
        <div class="col-md-2">
            <a asp-controller="Test" asp-action="TestPublic">Test unauthorized</a>
        </div>
        <div class="col-md-2">
            <a asp-controller="Test" asp-action="TestPrivate">Test authorized</a>
        </div>
        <div class="col-md-2">
            <a asp-controller="Test" asp-action="TestUser">Test user</a>
        </div>
        <div class="col-md-2">
            <a asp-controller="Test" asp-action="TestAdmin">Test admin</a>
        </div>
        <div class="col-md-2">
            <a asp-controller="Test" asp-action="Claims">Claims</a>
        </div>
    </div>
</div>