@model MyFootballMvc.ViewModels.TestViewModel
@{
  ViewData["Title"] = "Test";
}

<div class="main-container container">
  <h2>@ViewData["Message"]</h2>

  <div class="main-content">

  </div>
</div>
