@model MyFootballMvc.ViewModels.LeagueViewModel
@{
    ViewData["Title"] = "Clubs";
    Layout = "~/Views/Shared/_LeagueLayout.cshtml";
}

<div class="banner">
    <h2 class="col-10 offset-1">Referees</h2>
</div>
