@model MyFootballMvc.ViewModels.LeagueViewModel
@{
    ViewData["Title"] = "Referees";
    Layout = "~/Views/Shared/_LeagueLayout.cshtml";
}

<div class="banner bcolor-2">
    <h2 class="banner-header">Referees</h2>
</div>